# Normally workspace.xml would be ignored but a default workspace is being provided to include a default run configuration.
# workspace.xml contains user specific settings that change when window positions change etc. so as a work around,
# users can run 'git update-index --assume-unchanged .idea/workspace.xml' to instruct git to ignore changes to the file.
#workspace.xml
tasks.xml
